<div class="col-4" style="margin: 40px auto">
    <a href="<%=rootLink %>" target="_blank" class="btn btn-outline-primary" style="width: 100%">Nhấn vào đây để tiếp tục</a>
    <a href="<%=rootLink %>" target="_blank" class="btn btn-outline-info mt-3" style="width: 100%">Chia sẻ lên facebook</a>
    <a href="/link/<%= link.code %>/qrcode" target="_blank" class="btn btn-outline-success mt-3" style="width: 100%">Gửi tới điện thoại(QR code)</a>
    <a href="/link/compactLink" target="_blank" class="btn btn-outline-danger mt-3" style="width: 100%">Rút gọn link mới</a>
</div>