<h1 class="text-center">Change password</h1>
<form action="" method="post">
    <div class="mb-3">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control mt-1">
    </div>

    <div class="mb-3">
    <label for="">Confirm password</label>
    <input type="password" name="confirmPassword" class="form-control mt-1">
    </div>

    <button type="submit" class="btn btn-success">Change</button>
</form>