* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(to right, rgb(170, 7, 107), rgb(97, 4, 95));
}

/* .container {
    width: 95%;
    height: 200px;
    margin: 0 auto;
    background: red;
} */

.quiz__stop {
    display: none;
    position: fixed;
    inset: 0;
    background: linear-gradient(to right, rgb(255, 81, 47), rgb(221, 36, 118));
    z-index: 99;
}

.quiz__stop-content {
    width: 40%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz__stop-score {
    margin-top: 20px;
    background: #333;
    color: #fff;
    font-size: 2rem;
    width: 80%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz__stop .btn-play-again {
    width: 30%;
    margin-top: 30px;
    padding: 20px 0;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.8rem;
    color: #fff;
    background: linear-gradient(to right, rgb(2, 170, 176), rgb(0, 205, 172));
    border-radius: 10px;
}

.quiz__stop-result {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz__stop .quiz__incorrect,
.quiz__correct {
    background: #ccc;
    color: #fff;
    font-size: 2rem;
    padding: 60px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.quiz__stop .quiz__incorrect span,
.quiz__correct span {
    font-size: 3.5rem;
}


.quiz-wrapper .quiz__time {
    width: 97%;
    margin: 5px auto;
    position: relative;
    height: 7px;
    background: #333;
    border-radius: 99px;
}

.quiz__run-time {
    position: absolute;
    height: 7px;
    background: #ccc;
    border-radius: 99px;
    /* transition: all 1.5 linear; */
}

/* quiz action */
.quiz__action {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz__action-sentence {
    display: block;
    width: 60px;
    height: 45px;
    background: #333;
    z-index: 1;
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz__action-score {
    font-size: 1.8rem;
    color: #fff;
}

.quiz-wrapper .container,
.quiz__action {
    width: 97%;
    margin: 0 auto;
    /* height: 100vh; */
}


.quiz__title {
    border-radius: 8px;
    user-select: none;
    margin-top: 15px;
    height: 30vh;
    background: linear-gradient(to right, rgb(235, 51, 73), rgb(244, 92, 67));
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
}

.quiz__list-answer {
    margin-top: 30px;
    height: 50vh;
    /* background: yellow; */
    display: flex;
    gap: 10px;
}

.quiz__answer {
    border-radius: 8px;
    user-select: none;
    visibility: visible;
    color: #fff;
    font-size: 1.8rem;
    width: calc(25% - 10px);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    cursor: pointer;

}

.quiz__answer:hover {
    background: #228fda;
}