.point-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background: #ccc;
    cursor: pointer;
    border-radius: 99px;
}

.process-bar {
    background: red;
    position: absolute;
    top: 0;
    width: 0;
    height: 5px;
    /* z-index: 1; */
}

.display-value {
    position: absolute;
    top: -30px;
    left: 500px;
    width: 60px;
    height: 25px;
    color: #fff;
    background: orangered;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
}

.dot-bar {
    position: absolute;
    top: -50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: yellowgreen;
}

.form {
    /* height: 35px; */
    margin-top: 20px;
}

#number {
    width: 99%;
    height: 15px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: blue;
}