<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1 class="text-center">Register</h1>
    <%-msgRegister.length? `<div class="alert alert-danger">${msgRegister}</div>`: ''   %>
    <form action="" method="post">
        <div class="mb-3">
            <label for="">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email...">
            <p class="text-danger"><%=req.errors.email %></p>
        </div>

        <div class="mb-3">
            <label for="">Password</label>
            <input type="text" name="password" class="form-control mt-1" placeholder="Password...">
            <p class="text-danger"><%=req.errors.password %></p>
        </div>

        <div class="mb-3">
            <label for="">Confirm password</label>
            <input type="text" name="confirmPassword" class="form-control mt-1" placeholder="Confirm password...">
            <p class="text-danger"><%=req.errors.confirmPassword %></p>
        </div>
        <button type="submit" class="btn btn-info text-white" style="width: 100%;">Register</button>
        <a href="/signin" class="btn btn-primary text-white mt-3" style="width: 100%;">Sign in</a>
    </form>
</body>
</html>