/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

textarea,
input,
button,
select {
  font-family: "Inter", sans-serif;
  color: #2c2c2c;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #2c2c2c;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #2c2c2c;
}

.container {
  width: 340px;
  margin: 0 auto;
}

.heading {
  color: #2c2c2c;
  font-weight: 800;
}

.heading.lv3 {
  font-size: 2.3rem;
}

.header {
  padding: 5px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu__icon {
  font-size: 2.5rem;
}
.header__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  animation: overlay linear 0.3s;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right .nav {
  display: none;
}
.header__right .nav__mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: #333;
  width: 80%;
  transition: transform 0.3s ease;
}
.header__right .nav__mobile ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__right .nav__mobile ul a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  width: 170px;
  color: #fff;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 999px;
  font-weight: 600;
}
.header .nav__mobile__icon-exit {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2.5rem;
  color: #fff;
}
.header .nav__mobile__logo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.header__icon {
  display: flex;
  align-items: center;
}
.header__icon .cart-icon {
  position: relative;
}
.header__icon .cart-icon__notify {
  width: 15px;
  height: 15px;
  background: #e05000;
  color: #fff;
  border-radius: 50%;
  font-size: 1.2rem;
  position: absolute;
  top: -6px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__icon .search-icon {
  margin-left: 10px;
}

input#menu__mobile:checked ~ .header__right .nav__mobile {
  transform: translateX(0%);
  z-index: 1;
}

input#menu__mobile:checked ~ .header__overlay {
  display: block;
  z-index: 1;
}

@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero {
  padding: 40px 15px;
}
.hero__info {
  text-align: center;
}
.hero__info__desc {
  font-size: 1.5rem;
  margin-top: 30px;
  line-height: 1.2;
}
.hero__images {
  margin-top: 20px;
  position: relative;
  background: #dcffca;
}
.hero__title {
  line-height: 1;
  opacity: 0.15;
  text-align: center;
  font-size: 9rem;
  font-weight: 800;
  color: #216000;
}
.hero .lv1 {
  font-size: 2rem;
  font-weight: 800;
}
.hero .lv2 {
  margin-top: 15px;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.4;
}

.service {
  padding: 50px 0;
  text-align: center;
}
.service__desc {
  margin-top: 20px;
  font-size: 1.5rem;
}
.service__group {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0 5px;
}
.service__item {
  width: 100px;
  height: 185px;
  border-radius: 4px;
  background: #fff;
  z-index: 1;
  text-align: left;
  padding: 10px 8px;
  box-shadow: 0 0 12px rgba(54, 54, 54, 0.12);
}
.service__item__icon {
  width: 50px;
  height: 50px;
  background: #fff0e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__item__icon img {
  width: 30px;
  height: 30px;
}
.service__item__number {
  margin-top: 10px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 800;
}
.service__item__desc {
  margin-top: 12px;
  font-size: 1.5rem;
  line-height: 1.2;
}
.service__item-2 .service__item__icon {
  background: #f2ffec;
}
.service__item-2 {
  width: 125px;
  height: 215px;
  padding: 15px 8px;
}
.service .circle-top-left,
.service .circle-bottom-right {
  z-index: -1;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #dcffca;
  border-radius: 50%;
}
.service .circle-top-left {
  top: -50%;
  transform: translateY(50%);
  left: -50px;
}
.service .circle-bottom-right {
  background: #ffd5bd;
  bottom: -50%;
  transform: translateY(-50%);
  right: -50px;
}

.product {
  padding: 110px 0;
}
.product__wrapper {
  text-align: center;
}
.product__group {
  margin-top: 125px;
  display: flex;
  flex-wrap: wrap;
  gap: 171px 10px;
}
.product .circle {
  position: absolute;
  top: -35%;
  transform: translateY(50%);
  width: 150px;
  height: 150px;
  background: #ffba94;
  border-radius: 50%;
}
.product__item {
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product__item__icon {
  z-index: 1;
}
.product__item__title {
  position: relative;
  height: 45px;
  font-weight: 700;
  font-size: 1.65rem;
}
.product__item__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background: #a3a3a3;
}
.product__item__number {
  margin-top: 16px;
}
.product__item__price {
  margin-top: 7px;
}
.product__item__price strong {
  font-size: 1.6rem;
  font-weight: 600;
}
.product__item .btn {
  margin-top: 30px;
  padding: 13px 11px;
  border-radius: 7px;
  background: #46b20f;
  font-weight: 700;
  color: #fff;
}
.product__item__center .circle {
  background: #c5ffa8;
}

.news {
  padding: 40px 0;
}
.news__heading {
  text-align: center;
}
.news__desc {
  margin-top: 23px;
  text-align: center;
  line-height: 1.2;
}
.news__list-item::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.news__list-item {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  overflow-y: hidden;
  overflow-x: auto;
}
.news__item {
  width: 100%;
  flex-shrink: 0;
  background: #fff;
}
.news__item__row {
  margin-top: 16px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__item__row span {
  color: #46b20f;
  font-weight: 500;
}
.news__item__date {
  display: flex;
  align-items: center;
}
.news__item__day {
  margin-left: 10px;
  color: #a3a3a3;
}
.news__item__title {
  display: inline-block;
  margin-top: 16px;
  font-size: 2rem;
  font-weight: 800;
}
.news__item__desc {
  margin-top: 16px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news__item-img {
  width: 100%;
  height: 273px;
  border-radius: 7px;
  object-fit: cover;
}
.news__btn {
  cursor: pointer;
  margin: 80px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border: 0.9px solid #46b20f;
  font-size: 2rem;
  color: #2c2c2c;
  font-weight: 700;
  border-radius: 7px;
  min-width: 153px;
}
.news__btn span {
  margin-right: 5px;
}
.news__btn .fa-chevron-right {
  font-size: 1.4rem;
}
.news__btn:hover, .news__btn:active {
  color: #fff;
  background: #46b20f;
}

.benefit {
  position: relative;
  text-align: center;
  padding: 60px 0;
}
.benefit:after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background: #fff0e7;
  left: 0;
  bottom: 0;
}
.benefit__desc {
  margin-top: 24px;
  line-height: 1.2;
}
.benefit__list-item::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.benefit__list-item {
  margin-top: 50px;
  display: flex;
  gap: 0 10px;
  overflow: auto;
  overflow-y: hidden;
}
.benefit__item {
  z-index: 1;
  text-align: left;
  width: 100%;
  flex-shrink: 0;
  border-radius: 7px;
  background: #fff;
}
.benefit__item__info {
  padding: 24px 18px 5px 27px;
}
.benefit__item__title {
  color: #e05000;
  text-shadow: 0px 3.3333332539px 3.3333332539px 0px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}
.benefit__item__desc {
  margin-top: 6px;
  color: #19191b;
  line-height: 1.2;
}
.benefit__item-img {
  width: 100%;
  height: 195px;
  object-fit: cover;
  border-radius: 7px;
}

.certification {
  padding: 100px 0;
}
.certification__list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(190px, auto);
  gap: 20px 15px;
}
.certification__item__title {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 700;
}
.certification__item__desc {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 1.2;
}

.contact {
  padding: 40px 0 100px 0;
}
.contact__image {
  position: relative;
}
.contact__image::after {
  position: absolute;
  left: 50px;
  top: 50px;
  content: "";
  width: 280px;
  height: 280px;
  background: #fff0e7;
  border-radius: 50%;
  z-index: -1;
}
.contact__info {
  margin-top: 170px;
}
.contact__info__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}
.contact__form {
  margin-top: 26px;
}
.contact__form input,
.contact__form textarea {
  margin-top: 22px;
  font-size: 1.6rem;
  width: 100%;
  padding: 13.333px 0 13.333px 13.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.contact__form__btn {
  margin-top: 26px;
  min-width: 128px;
  padding: 12px 11px;
  border-radius: 7px;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  background: #46b20f;
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.contact__form__btn:hover, .contact__form__btn:active {
  opacity: 0.9;
}

@media screen and (min-width: 991.98px) {
  .contact__wrapper {
    display: flex;
  }
  .contact__image {
    margin-top: -40px;
    width: 40%;
  }
  .contact__image::after {
    width: 440px;
    height: 440px;
  }
  .contact__info {
    width: 60%;
    margin-top: 0;
    padding-left: 118px;
  }
  .container {
    width: 940px;
  }
  .desc {
    font-size: 1.6rem;
  }
  .heading {
    color: #2c2c2c;
  }
  .nav__mobile {
    display: none;
  }
  .menu__icon {
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 4;
    padding: 0;
  }
  .header__logo {
    margin-right: auto;
  }
  .header .nav {
    display: block;
  }
  .header .nav ul {
    display: flex;
    align-items: center;
  }
  .header .nav ul a {
    display: block;
    padding: 10px 0;
    color: #2c2c2c;
    font-weight: 600;
  }
  .header .nav ul li {
    position: relative;
    padding: 33px 0;
    margin-right: 50px;
  }
  .header .nav ul li:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #46b20f;
    transition: width 0.3s ease;
  }
  .header .nav ul li:hover::after {
    width: 100%;
  }
  .header .nav ul li:hover a {
    color: #46b20f;
  }
  .header .cart-icon {
    margin-right: 48px;
  }
  .hero {
    padding: 0;
  }
  .hero .heading {
    font-weight: 800;
    color: #2c2c2c;
  }
  .hero .lv1 {
    width: 514px;
    font-size: 3rem;
    line-height: 1.3;
  }
  .hero .lv2 {
    margin-top: 10px;
    width: 380px;
    font-size: 4rem;
  }
  .hero__wrapper {
    display: flex;
    align-items: center;
  }
  .hero__info {
    text-align: left;
    width: 50%;
    padding: 217px 120px 217px 70px;
  }
  .hero__info__desc {
    margin-top: 27px;
    width: 410px;
  }
  .hero__images {
    position: relative;
    display: block;
    width: 50vw;
    background: #dcffca;
    height: 642px;
    border-radius: 16px 0px 0px 16px;
  }
  .hero__img {
    position: absolute;
    top: 50%;
    left: 18.5%;
    transform: translateX(-50%) translateY(-50%);
  }
  .hero__title {
    text-align: left;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: 50px;
    rotate: 90deg;
    font-size: 15rem;
    font-weight: 800;
    color: #216000;
  }
  .heading.lv3 {
    font-size: 3.1rem;
    font-weight: 800;
    line-height: 1.2;
  }
  .service {
    padding: 100px 0;
    text-align: center;
  }
  .service__heading {
    margin: 0 auto;
    width: 558px;
  }
  .service__desc {
    margin: 0 auto;
    width: 643px;
    margin-top: 20px;
  }
  .service__group {
    margin-top: 115px;
    gap: 0 21px;
  }
  .service__item {
    height: 337px;
    width: 280px;
    cursor: pointer;
    padding: 34px 32px 58px 34px;
    box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
    transition: outline 0.3s ease;
  }
  .service__item__icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service__item__number {
    margin-top: 22px;
    font-size: 4rem;
  }
  .service__item__desc {
    margin-top: 24px;
    font-size: 2rem;
    line-height: 1.5;
    width: 222px;
  }
  .service__item-2 {
    height: 392px;
    width: 320px;
    padding: 60px 35px 86px 34px;
  }
  .service__item-2 .service__item__desc {
    width: 274px;
  }
  .service__item:hover {
    outline: 5px solid blue;
  }
  .service .circle-top-left,
  .service .circle-bottom-right {
    width: 235px;
    height: 235px;
  }
  .product__group {
    margin-top: 225px;
    gap: 272px 83px;
  }
  .product__item {
    padding-left: 83px;
    width: calc(33.33% - 83px);
  }
  .product__item__title {
    font-size: 2rem;
    width: 205px;
    height: 57px;
  }
  .product__item__number, .product__item__price {
    font-size: 1.6rem;
  }
  .product .btn {
    width: 154px;
    font-size: 1.43rem;
  }
  .product .circle {
    width: 200px;
    height: 200px;
    top: -65%;
    transform: translateY(50%);
  }
  .news__desc {
    margin: 16px auto;
    width: 657px;
  }
  .news__list-item {
    gap: 0 23px;
  }
  .news__item {
    flex: 1;
  }
  .benefit__heading {
    margin: 0 auto;
    width: 394px;
  }
  .benefit__desc {
    margin: 23px auto;
    width: 485px;
  }
  .benefit__item {
    flex: 1;
  }
  .certification {
    padding: 133px 0;
  }
  .certification__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 131px;
    gap: 38px 52px;
  }
  .certification__item {
    display: flex;
    align-items: flex-start;
    gap: 0 15px;
  }
  .certification__item__title {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
  }
  .certification__item__desc {
    width: 216px;
    margin-top: 7px;
    font-size: 1.7rem;
    font-weight: 500;
  }
  .certification__item-icon {
    width: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 1199.98px) {
  .container {
    width: 1100px;
  }
  .hero__info {
    padding: 217px 111px 217px 170px;
  }
  .hero__title {
    font-size: 16.7rem;
    top: 23%;
  }
  .product__item__title {
    font-size: 2.2rem;
    width: 222px;
    height: 57px;
  }
  .product__item__number, .product__item__price {
    font-size: 1.6rem;
  }
  .product .btn {
    width: 154px;
    font-size: 1.43rem;
  }
  .product .circle {
    width: 270px;
    height: 270px;
    top: -65%;
    transform: translateY(50%);
  }
  .service__item {
    height: 337px;
    width: 294px;
  }
  .service__item-2 {
    height: 392px;
    width: 342px;
  }
}
@media screen and (min-width: 1399.98px) {
  .hero__title {
    top: 30%;
  }
}
@media screen and (min-width: 1599.98px) {
  .hero__title {
    top: 40%;
  }
}

/*# sourceMappingURL=styles.css.map */
