<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h4>Hello, <%-username.length? username: '' %></h1>
    <a href="/signout" class="btn btn-info text-white">Logout</a>
  </body>
</html>
